/* mobile phone and smart portable devices */
@media screen and (max-width: 479px) {
  .main {
    padding-top: 40pt;
  }
  .navbar {
    display: none;
  }
  .navbar-mobile {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: all 0.6s ease 0s;
  }
  .navbar-mobile .container {
    padding: 0;
    margin: 0;
    line-height: 5.5em;
    background: $light-background-color;
  }
  .navbar-mobile .container .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 1em;
    padding-left: 1em;
    box-sizing: border-box;
    position: relative;
  }
  .navbar-mobile .container .navbar-header .menu-toggle {
    display: flex;
    cursor: pointer;
    line-height: 5.5em;
    user-select: none;
  }
  .navbar-mobile .container .navbar-header .menu-toggle .menu-icon {
    display: block;
  }
  .navbar-mobile .container .navbar-header .menu-toggle .close-icon {
    display: none;
  }
  .navbar-mobile .container .navbar-header .menu-toggle.active .menu-icon {
    display: none;
  }
  .navbar-mobile .container .navbar-header .menu-toggle.active .close-icon {
    display: block;
  }
  .navbar-mobile .container .navbar-header .menu-toggle span:nth-child(1) {
    margin-bottom: 8px;
  }
  .navbar-mobile .container .navbar-header .menu-toggle span:nth-child(3) {
    margin-top: 8px;
  }
  .navbar-mobile .container .navbar-header .menu-toggle.active span {
    -webkit-transition: 0.25s margin, 0.25s transform 0.25s;
    -moz-transition: 0.25s margin, 0.25s transform 0.25s;
    transition: 0.25s margin, 0.25s transform 0.25s;
  }
  .navbar-mobile .container .navbar-header .menu-toggle.active span:nth-child(1) {
    -moz-transform: rotate(45deg) translate(4px, 6px);
    -ms-transform: rotate(45deg) translate(4px, 6px);
    -webkit-transform: rotate(45deg) translate(4px, 6px);
    transform: rotate(45deg) translate(4px, 6px);
  }
  .navbar-mobile .container .navbar-header .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }
  .navbar-mobile .container .navbar-header .menu-toggle.active span:nth-child(3) {
    -moz-transform: rotate(-45deg) translate(8px, -10px);
    -ms-transform: rotate(-45deg) translate(8px, -10px);
    -webkit-transform: rotate(-45deg) translate(8px, -10px);
    transform: rotate(-45deg) translate(8px, -10px);
  }
  .navbar-mobile .container .menu {
    text-align: center;
    background: $light-background-color;
    border-top: 1px solid #000;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    user-select: none;
    display: none;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1), 0px 4px 8px rgba(0,0,0,0.1);
  }
  .navbar-mobile .container .menu a,
  .navbar-mobile .container .menu button {
    display: block;
    margin: 0.3em 1em;
    line-height: 2em;
    width: calc(100% - 2em);
    text-align: center;
    padding: 0.3em 0;
  }
  .navbar-mobile .container .menu.active {
    display: block;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 70vh;
  }
  .dark .navbar-mobile .container .menu {
    background: $dark-background-color;
    border-top: 2px solid $dark-font-secondary-color;
  }
  .dark .navbar-mobile .container {
    background: $dark-background-color !important;
  }
  .archive {
    width: 90%;
  }
  .archive .archive-item .archive-item-date {
    display: none;
  }
  #dynamic-to-top {
    display: none !important;
  }
  .footer {
    height: 3rem;
    width: 100%;
    text-align: center;
    line-height: 1.5rem;
    padding-top: 2em;
  }
  .post-warp {
    padding-top: 6em;
  }
  .post-warp .archive-item-date {
    display: none;
  }
  .categories .categories-card .card-item {
    width: 100%;
    display: flex;
    min-height: 0;
  }
  .categories .categories-card .card-item .categories {
    overflow: hidden;
  }
  .tag-cloud-tags {
    padding-top: 1em;
  }
  .tag-cloud-tags a {
    margin: 3px 6px;
    font-size: 0.9em;
    line-height: 1.4em;
  }
  .tags .post-wrap {
    padding-top: 4em;
  }
  .tags .post-wrap h2.post-title {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}
/* iPads (portrait and landscape) ----------- */
@media screen and (max-width: 1023px) {
  .navbar-mobile {
    display: none;
  }
}
/* Desktops and laptops ----------- */
@media screen and (min-width: 1024px) {
  .navbar-mobile {
    display: none;
  }
}
/* post toc Style */
@media screen and (max-width: 1279px) {
  .post-toc {
    display: none;
  }
}
